* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: var(--background);
  color: var(--text);
  height: 100vh;
}
.container {
  width:940px;
  margin: 0 auto;
  text-align: center; 
  margin-top: 126px;
}
.title {
  margin-bottom: 30px;
}
.title img {
  width: 87px;
  margin-bottom: 10px;
}
.title h1 {
  font-size: 2.5rem;
}

.content {
 display: flex;
 margin-bottom: 30px;
}
.content .contentImg {
  padding: 18px;
  margin-right: 34px;
}
.content .content-text {
  padding: 18px;
}
.content .content-text h1 {
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-align: left;
}
.content .content-text p {
  text-align: left;
}
.button {
  margin-bottom: 30px;
}
.button .btn {
  width: 180px;
  height: 47px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.4s;
}
.button .btn:hover {
  background-image: var(--background) ;
  color: var(--text);
}
.button img {
  width: 25px;
}
.button p {
  text-align: center;
  margin-top: 30px;
}